VITE_SUPABASE_URL=https://qnjlvnjyztlfxfdgeout.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_EVbQCbPjp7GIXwgHbwuwkg_rXOSLFgS

CLOUDINARY_CLOUD_NAME=dv7jfdcvc
CLOUDINARY_UPLOAD_PRESET=uripos_unsigned
CLOUDINARY_API_KEY=751253689981192
CLOUDINARY_API_SECRET=3BnH84MvEE9vrFpGL7l8wJrKHfM
