VITE_SUPABASE_URL=https://qnjlvnjyztlfxfdgeout.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_EVbQCbPjp7GIXwgHbwuwkg_rXOSLFgS

VITE_CLOUDINARY_CLOUD_NAME=dv7jfdcvc
VITE_CLOUDINARY_UPLOAD_PRESET=uripos_unsigned
