VITE_SUPABASE_URL=https://qnjlvnjyztlfxfdgeout.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_EVbQCbPjp7GIXwgHbwuwkg_rXOSLFgS
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFuamx2bmp5enRsZnhmZGdlb3V0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ3MTA2NSwiZXhwIjoyMDk0MDQ3MDY1fQ.lCht2Cgw8syuK2xJU5pKXM7iPZ7RFYibcLHeZYVGC5E

CLOUDINARY_CLOUD_NAME=dv7jfdcvc
CLOUDINARY_UPLOAD_PRESET=uripos_unsigned
CLOUDINARY_API_KEY=751253689981192
CLOUDINARY_API_SECRET=3BnH84MvEE9vrFpGL7l8wJrKHfM
